.message {
	width: fit-content;
	max-width: 80vw;
	margin: 2px 5px;
	animation: pop 0.3s ease-in-out;
}
.message__user {
	margin-left: auto;
	transform-origin: bottom right;
}
.message__user.last {
	transform-origin: top right;
}
.message .message__content {
	transition: all 0.3s ease-in-out;
}
.message__user .message__content {
	color: var(--light-text) !important;
	background: var(--user-bg) !important;
	padding: 15px;
	border-radius: 30px 2px 2px 30px;
	text-align: left !important;
}

.message__user.first .message__content {
	border-bottom-right-radius: 2px;
	border-top-right-radius: 30px;
}
.message__user.last .message__content {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 30px;
}
.message__guest.first .message__content {
	border-bottom-left-radius: 2px;
	border-top-left-radius: 30px;
}
.message__guest.last .message__content {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 30px;
}

.message__guest {
	margin-right: auto;
	transform-origin: bottom left;
}
.message__guest.last {
	transform-origin: top left;
}

.message__guest .message__content {
	color: var(--dark-text) !important;
	background: var(--other-bg) !important;
	padding: 15px;
	border-radius: 30px;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	/* border-bottom-left-radius: 2px; */
	text-align: left !important;
}

.message__guest.first .message__userName {
	display: block;
}
.message__userName {
	display: none;
	color: gray;
	text-align: left;
	text-transform: capitalize;
}
@keyframes pop {
	from {
		transform: scale(0);
		opacity: 0.1;
	}
	to {
		transform: scale(1);
	}
}
