.App {
	text-align: center;
	margin: 0px;
	box-sizing: border-box;
	padding-bottom: 100px;
}

.app__form {
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 10px;
	right: 10px;
	left: 10px;
	border-radius: 10px;
	background: var(--light-opacity);
	box-shadow: 1px 1px 10px var(--shadow);
}
.app__form-grp {
	margin: 20px;
	flex: 1;
	color: var(--dark-text);
}
Button {
	color: var(--dark-text) !important;
	text-transform: capitalize !important;
}
Input,
TextField,
Label {
	color: var(--dark-text) !important;
}
.app__form-btn {
	flex: 0;
	color: var(--dark-text);
}
